<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
  
  <div class="container px-4 px-lg-6">
    <div><h2 class=" text-danger" >Welcome {{USER}}</h2> </div> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <a class="navbar-brand" ><h2 class=" text-light text-center"> <i class="fa-solid fa-utensils"></i> &nbsp;Aiwaaah!</h2></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
              
              <!-- <li class="nav-item"><a class="nav-link active" aria-current="page" routerLink="/recipie">YOUR RECIPE</a></li> -->
              <!-- <li class="nav-item"><a class="nav-link active" aria-current="page" routerLink="/saved">JUST IN RECIPIES</a></li> -->
              
             
      </ul>  &nbsp;&nbsp; 
      <form class="d-flex">
        <a routerLink="/dashboard" class="btn btn-outline-light" type="submit">
            <i class="bi-cart-fill me-1"></i>
           Home
            <span class="badge bg-light text-dark  ms-1 rounded-pill"></span>
        </a>
    </form>&nbsp;&nbsp;&nbsp;&nbsp; 
      <form class="d-flex">
        <a routerLink="/recipie" class="btn btn-outline-light" type="submit">
            <i class="bi-cart-fill me-1"></i>
            Create
            <span class="badge bg-light text-dark  ms-1 rounded-pill"></span>
        </a>
    </form>&nbsp;&nbsp;&nbsp;&nbsp;

      <form class="d-flex">
        <a routerLink="/saved" class="btn btn-outline-light" type="submit">
            <i class="bi-cart-fill me-1"></i>
            Favourites
            <span class="badge bg-light text-dark  ms-1 rounded-pill"></span>
        </a>
    </form>&nbsp;&nbsp;&nbsp;&nbsp;
      <form class="d-flex">
          <a routerLink="/request" class="btn btn-outline-light" type="submit">
              <i class="bi-cart-fill me-1"></i>
             Request
              <span class="badge bg-light text-dark  ms-1 rounded-pill"></span>
          </a>
      </form>
      &nbsp;&nbsp;   &nbsp;&nbsp;
      <form class="d-flex">
        <a routerLink="/chat" class="btn btn-outline-light" type="submit">
            <i class="bi-cart-fill me-1"></i>
            Discuss
            <span class="badge bg-light text-dark  ms-1 rounded-pill"></span>
        </a>
    </form>  &nbsp;&nbsp;  
  
      </div>
      </div>
      
 
</nav>

<div> 
 
    <div class="row d-flex justify-content-center" >
      <h3>
        Please be respectfull in the chat
      </h3>
  <div class="col-md-8 col-lg-6">
    <div class="card shadow-0 border" style="background-color: #f0f2f5;">
      <div class="card-body p-4">
       
        <div class="card mb-4">
          <div class="card-body">
            <div *ngFor="let chat of cc">
                <h5>{{ chat.user }}:- </h5>
            <p>{{chat.talk}}</p>

            <div class="d-flex justify-content-between">
              <div class="d-flex flex-row align-items-center">
                <div class="form-outline mb-4"></div></div></div></div></div></div></div></div>
                 <div> <input   [(ngModel)]=talk type="text" placeholder="Type here" class="form-control" ><button class="btn btn-primary btn-block confirm-button" (click)="ok()">Send</button><br></div>
                  <!-- <label class="form-label" for="addANote">+ Add a note</label> -->
                </div>
        
                
<!--                 
              </div>
             
            </div>
          </div>
        </div>

        -->
      
  

   

<!-- 
    <div *ngFor="let chat of cc">
        <div>{{ chat.user }} :-{{chat.talk}}</div>  -->
       
