
<br>
<br>
<div class="container">

    <div class="center" >
        
        
       
        <!-- <img src="../../assets/images/Axis_Bank_logo.svg.png" alt="" srcset=""> -->
        <br>
        <BR>
        

        <h6>Your perfect dish made simple</h6>
      
        <BR>
            <BR>
               <form [formGroup]="loginForm">

             
              
                
               
                <input type="email"  formControlName="email" class="form-control" id="logac" placeholder="email id">
                <br>
                <div  *ngIf="this.loginForm.get('email')?.errors &&this.loginForm.get('email')?.touched" style="color:red">Invalid email id</div>
                <br>
                <input type="password" formControlName= "pswd"  class="form-control" id="logpass" placeholder="password">
                <br>
                <div  *ngIf="this.loginForm.get('pswd')?.errors &&this.loginForm.get('pswd')?.touched" style="color:red">Invalid password</div>
                <br>
                <button type="button" (click)="login()" class="btn btn-primary btn-lg">login</button>

            <br>
            <br>
            <a routerLink="signin"> SIGN IN</a>
           </form></div></div>